body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

[class$="face"] {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-face {
    justify-content: center;
    align-items: center;
}

.second-face .pip:nth-of-type(2),
.third-face .pip:nth-of-type(3) {
    align-self: flex-end;
}

.third-face .pip:nth-of-type(2),
.fifth-face .column:nth-of-type(2) {
    align-self: center;
}
