* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #a69a90;
  font-family: Rationale, sans-serif;
  font-size: 25px;
}

main {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #ea804c;
  color: #4a403d;
}

:target {
  background-color: yellow;
}

p:nth-of-type(1) {
  /* position: relative; Pushes items from the declared side
  top: 100px;
  right: 100px; */
  background-color: yellow;
  /* position: absolute;
  top: 0;
  left: 0; */
  position: fixed;
  width: 100vw;
  margin: 0;
  bottom: 0;
  left: 0;
}