:root {
  --background: #4a536b;
  --foreground: #fdf0cc;
  --primary: #2790b0;
}

* { box-sizing: border-box; }

body {
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

h1 { text-align: center; }

main {
  max-width: 800px;
  padding: 2rem;
  margin: 2rem auto;
  background-color: var(--primary);
}
