* {
    box-sizing: border-box
}

html {
    background-color: rgb(35, 35, 212,.75);
}

p {
    font-family: 'Merriweather Sans', sans-serif;
}

main {
    background-color: rgb(125, 125, 125, .5);
    margin: 10%;
    padding: 5%;
    text-align: left;

}
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.897);
    color: rgb(250, 250, 250, 1);
    height:3rem;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.897);
    color: rgb(250, 250, 250, 1);
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0;
}

em {
    display: inline-block;
}

img {
    /* float: left; */
    margin: 5px;
    text-align: center;
}